@import "../../settings/variables";
.button {
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: block;
    font-family: $open-sans;
    font-weight: 700;
    text-align: center;
    transition: 0.2s;

    &--small {
        font-size: 0.75em;
        line-height: 30px;
        min-height: 30px;
        min-width: 120px;
    }

    &--medium {
        font-size: 1em;
        line-height: 50px;
        min-height: 50px;
        min-width: 170px;
    }

    &--large {
        font-size: 1.25em;
        line-height: 60px;
        min-height: 60px;
        min-width: 270px;
    }

    &--primary {
        background-color: $primary;
        color: $white;

        &:hover {
            background-color: $primary-action;
        }
    }

    &--dark {
        background-color: $dark;
        color: $white;

        &:hover {
            background-color: $darker;
        }
    }


}