@import "../../settings/variables";
.button {
    background-color: $primary;
    border-radius: 4px;
    border: none;
    color: $white;
    cursor: pointer;
    display: block;
    font-family: $open-sans;
    font-weight: 700;
    text-align: center;
    transition: 0.2s;

    &_small {
        font-size: 0.75em;
        line-height: 30px;
        min-height: 30px;
        min-width: 120px;
    }

    &_medium {
        font-size: 1em;
        line-height: 50px;
        min-height: 50px;
        min-width: 170px;
    }

    &_large {
        font-size: 1.25em;
        line-height: 60px;
        min-height: 60px;
        min-width: 270px;
    }

    &:hover {
        background-color: $primary-action;
    }
}